body {
    background-image: url(https://image.winudf.com/v2/image1/c2F0c3VtYS5uYXR1cmUud2FsbHBhcGVyc19zY3JlZW5fMF8xNTQyMDM4MzcyXzAwMw/screen-0.jpg?fakeurl=1&type=.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 75%;
}

.menu {
    background-color: rgb(119, 115, 115);
    width: 100%;
    padding: 12px;
    position: fixed;
    z-index: 100;
    top: 0px
}

.navegacion {
    float: left;
    margin-left: 400px;
}

.lista {
    list-style: none;
    overflow: hidden;
}

li {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a {
    display: block;
    color: #fff;
    padding: 20px;
    text-decoration: none;
    font-weight: 800;
}

li:hover {
    background: #4aaaa5;
}

.formulario {
    margin: 140px;
}

.formulario-registro {
    width: 600px;
    background: rgb(119, 115, 115);
    padding: 50px;
    margin: auto;
    margin-top: 50px;
    border-radius: 7px;
    font-family: calibri;
    color: black;
    box-shadow: 5px 5px 5px 5px gray;
    text-align: center;
    padding: 0px 100px 0px 100px;
}

.formulario-registro h1 {
    font-size: 30px;
    margin-bottom: 35px;
    color: white;
}

.formulario-registro p {
    font-family: calibri;
    font-size: 18px;
    color: white;
}

.controls {
    width: 80%;
    background: white;
    padding: 10px;
    border-radius: 7px;
    margin-bottom: 15px;
    border: 4px solid #4aaaa5;
    font-family: calibri;
    font-size: 18px;
    background: white;
}

.controls-radio {
    background: white;
    margin-bottom: 15px;
}

.btn {
    width: 40%;
    background: #4aaaa5;
    border-radius: 7px;
    border: 2px solid #4aaaa5;
    padding: 8px;
    color: white;
    font-family: calibri;
    font-size: 20px;
    margin: 15px 0;
    margin-left: 7px;
    text-align: center;
}

.btn:hover {
    background: rgb(6, 122, 2);
}